$mobileFont: 18px!important;
body {
    font-family: quicksand, sans-serif!important;
    margin: 0%;
}


@media (max-width: 768px) {
  .about{  
    overflow: hidden;
    
  }

  .main_title > h2 { 
    font-size: var(--mobileFont);
  }
  
}




  .about_img { 
    max-width: 500px!important;
  }

  .bg-custom{
    background:#f3f5ff !important
  }
