$base-color: #96a1ac !important;
$hover-color: rgb(94, 94, 94);

.header{
    position: relative;
    z-index: 10!important;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif!important;
    // background: #20232a!important;
    background: transparent; 
    border-bottom: 0.25px solid rgba(177, 177, 177, 0.108);
    height: 70px;
    transition: all 0.5s;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
    font-size: 1.10em;
    height: 6em;
    -webkit-text-size-adjust: 100%;

        .nav-item{margin: 1em!important;}

    li:hover{
        cursor: pointer;

    }
}



.colored{
    color: #fff!important;
}

#navbarNav > ul > li > a:hover { 
    color: #579ec4!important
}

// Added on nav scroll
.scrolledNav{
    background: #20232a!important;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    min-height: 90px;
    color: #fff!important;
}

.activeSection{
    color: #579ec4!important;
    border: 2px solid #579ec4!important;
    border-radius: 8px;

}


@media (min-width: 1025px) {

    .show{
        top: 0;
        position: fixed;
        width: 100%;
        height: 5em;
        font-size: 1em;
        
    }
    
    @keyframes grow { 
        from{height: 0;}
        to{height: 5em; display: visible;};
    }
    
    

}

img{
    cursor: pointer;
}