
.btn{ 
    color: #fff;
    height: 45px;
    font-family: quicksand , sans-serif;
}

.btn:hover { 
    background: white!important;
    border: 1px solid rgb(26, 188, 156)!important;
    color: #000;
}
